In [ ]:
#Ques1 Create one variable containing following type of data:

In [13]:
x = "rupal gupta"
print(type(x))

<class 'str'>

In [3]:
y = [1,2,3,4,5,"rupal",2.33,True]
print(type(y))

<class 'list'>

In [5]:
a = 3.45
print(type(a))

<class 'float'>

In [6]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

In [ ]:
#Ques2 what will the data type of the above given variables:

In [7]:
var1 = ' '
type(var1)

str

In [8]:
var2 = '[DS, ML, Python]'
type(var2)

str

In [9]:
var3 = [ 'DS', 'ML', 'Python']
type(var3)

list

In [10]:
var4 = 1
type(var4)

int

In [ ]:
#Ques3 Use of following operators with an example:

In [14]:
a = 10
b = 5
c = a/b
print(c)

2.0

In [15]:
a = 10
b = 5
c = a % b
print(c)

0

In [16]:
a = 20
b = 2
c = a//b
print(c)

10

In [17]:
a = 3
b = 5
c = a**b
print(c)

243

In [ ]:
#Ques4 Create a list of 10 of your choice containing multiple type of data. 
#Using for loop print the elements and its data type.

In [23]:
x = [1, 2, 3, 3.6, 6, 8+4j, 5j, "rupal", "gupta", True, False]
type(x)
for i in x:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
3.6
<class 'float'>
6
<class 'int'>
(8+4j)
<class 'complex'>
5j
<class 'complex'>
rupal
<class 'str'>
gupta
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#Ques5 Using while loop, verify  if the number A is purely divisible by B.
#if so how many times it can be divisible.

In [41]:
A = int(input())
B = int(input())
count = 0
while A % B ==0:
    count += 1
    A /= B
    print("A is purely divisible by B", ',', count, 'time')
else :
    print("Not divisible")

 100
 2

A is purely divisible by B , 1 time
A is purely divisible by B , 2 time
Not divisible

In [ ]:
#Ques6 Create a list containing 25 int type data.
#Using for loop and if-else conditions print if element is divisible by 3

In [43]:
x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
y = 3
z = 0
for i in x:
    if i % y == z:
        print( i, "Divisible by 3")
    else:
        print(i, "Not divisible by 3")

1 Not divisible by 3
2 Not divisible by 3
3 Divisible by 3
4 Not divisible by 3
5 Not divisible by 3
6 Divisible by 3
7 Not divisible by 3
8 Not divisible by 3
9 Divisible by 3
10 Not divisible by 3
11 Not divisible by 3
12 Divisible by 3
13 Not divisible by 3
14 Not divisible by 3
15 Divisible by 3
16 Not divisible by 3
17 Not divisible by 3
18 Divisible by 3
19 Not divisible by 3
20 Not divisible by 3
21 Divisible by 3
22 Not divisible by 3
23 Not divisible by 3
24 Divisible by 3
25 Not divisible by 3

In [ ]:
#Ques7 Mutables and Immutables data type

In [ ]:
#If an element in a given data type can be modified anytime after it is created then it is known as Mutable object.
#For example, objects in a list can be modified which makes it mutable.

In [44]:
x = [1,2,"rupal",3.4,True]
x[4] = False
print(x)

[1, 2, 'rupal', 3.4, False]

In [ ]:
#If an element in a given data type cannot be modified anytime after it is created then it is known as Immutable object.
#For example, element in a string cannot be modified which makes it immutable.

In [45]:
x = "rupal"
x[3] = "r"
print(x)

TypeError: 'str' object does not support item assignment